<div>
    <h2>{{celebrity.occupation}}</h2>
    <p>{{celebrity.occupation}}</p>
    <p><small>{{celebrity.catchPhrase}}</small></p>
    <a href="/celebrity/edit/{{celebrity.id}}" class="btn btn-success">Edit</a>
</div>